
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
docopt==0.6.2
fastapi==0.70.0
gunicorn==20.1.0
h11==0.12.0
httptools==0.2.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.4
opencv-python==4.5.4.58
pipreqs==0.4.11
pycodestyle==2.8.0
pydantic==1.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
requests==2.26.0
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
toml==0.10.2
typing_extensions==4.0.0
urllib3==1.26.7
uvicorn==0.15.0
watchgod==0.7
websockets==10.1
yarg==0.1.9
